
html {
    font-family: helvetica, arial, sans-serif;
}

body.dragging {
    cursor: e-resize;
    user-select: none;
}

#traces {
    width: 100%;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1em;
    border: 2px solid #643434;
    margin: 0 -2px;
    z-index: 500;
    box-sizing: border-box;
}

.title {
    font-size: 14px;
    font-weight: bold;
}

.lock-instance {
    border: 1px solid #808080;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px 0;
}

.lock-instance:last-child {
    margin-top: 0;
}

.timeline {
    display: flex;
    font-size: 18px;
    height: 18px;
    background-color: #ffffff;
}

.timeline-heading {
    text-align: right;
    width: 2rem;
    flex-shrink: 1;
    font-size: 0.6rem;
    line-height: 1rem;
    padding-right: 0.5rem;
}

.timeline-data {
    flex: 1;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.timeline-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

body.dragging .timeline-target {
    cursor: inherit !important;
}

.lock-session {
    margin: 5px 0;
}

.lock-session:last-child {
    margin-bottom: 0;
}

.section {
    pointer-events: none;
    position: absolute;
    min-width: 2px;
    height: 1em;
}

.section-heading {
    position: absolute;
    left: 0;
}

.section-heading span {
    font-size: 0.6em;
    line-height: 1.66em;
    padding-left: 0.166em;
}

.section.critical {
    background-color: #e0e0e0;
}

.section.read {
    background-color: #367336;
}

.section.write {
    background-color: #ff8080;
}

.section.lock {
    background-color: #ff80ff;
}

.title.critical {
    color: #808080;
}

.title.read {
    color: #367336;
}

.title.write {
    color: #ff8080;
}

.title.lock {
    color: #ff80ff;
}

.details {
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    max-height: 20em;
    overflow-y: auto;
}

.details td {
    padding: 2px;
}

.details {
    display: none;
}

.details.visible {
    display: block;
}

.backtrace {
    font-family: monospace;
    font-size: 12px;
    white-space: pre;
}

*[data-entry].hidden {
    display: none;
}
